body {
  background-position: 50% 0%;
  background-image: url("mic.jpg");
  background-size: cover;
  height: 100vh;
}
h2{
	position: absolute;
	top:450px;
	left:0px;
	width:100%;
}
h2, span{
	color:white;
	font:bold 24px/45px Helvetica, Sans-serif;
	letter-spacing: -1px;
	background:rgb(0, 0, 0); /* fallbackcolour */
	background: rgba(0,0,0,0.3);
	padding:10px;
}

.btn {
	background-color: #514341; /* fallback colour */
	background-color: transparent;
	border: none;
	transition:all 0.3s;
	font:bold 14px/25px helvetica, sans-serif;
}

.btn:hover {
	transform:skewX(-10deg); 
	border:none;
	background:transparent;
}
